# Tarea 2
- Daniela Benavides 
- Miguel Aguirre

In [1]:
import pandas as pd
import numpy as np

1. Imagine una rutina contable utilizada en una librería.
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

In [2]:
### Solución 1
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]    

resultado1 =list(map(lambda n: [n[0], n[2]*n[3] if n[2]*n[3]>=100 else n[2]*n[3] +10 ], orders))
resultado1

[['34587', 163.8],
 ['98762', 284.0],
 ['77226', 108.85000000000001],
 ['88112', 84.97]]

2. Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

In [14]:
### Solución 2
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)],
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

3. Resolver los anteriores ejercicios usando pandas (DataFrame)

In [4]:
### Solución 3
df = pd.DataFrame(resultado1, columns=['Número de pedido','Costo'])
df

  Número de pedido   Costo
0            34587  163.80
1            98762  284.00
2            77226  108.85
3            88112   84.97

4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

In [5]:
### Solución 4
lista='the notion of a lambda function goes all the way back to the origin of computer science'
palabras= lista.split()
resultado4 = list(filter(lambda x: len(x)>4, palabras))
resultado4

['notion', 'lambda', 'function', 'origin', 'computer', 'science']

5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [13]:
### Solución 5
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
temperaturas = list(temperatures)
resultado5 = list(filter(lambda x: 80>= x >= 32 , temperaturas))
resultado5, len(resultado5)/len(temperaturas)*100

([35.97387961379455,
  63.211195349983264,
  73.90387696517755,
  36.982512376595906,
  68.75395211338406,
  45.86132066984196,
  36.58307493022292,
  56.322083650154724,
  33.9621930206693,
  45.29071317816652,
  74.86289938282341,
  66.51091382521807,
  46.831316244170544,
  44.55796498523391],
 46.666666666666664)

6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)