<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Benavides Daniela y Aguirre Miguel. 

**Fecha:** 07 de septiembre del 2020.

**Expediente** : if714983 y if722961.
**Profesor:** Oscar David Jaramillo Zuluaga.

# Tarea 2: Clase 4

In [5]:
#Librerías a utilizar

import pandas as pd
import numpy as np
from functools import reduce

- Link GitHub

https://github.com/miguelaguirre11/Tarea2

### Ejercicio 1. 
Imagine una rutina contable utilizada en una librería.
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

#### Solución propuesta por Daniela Benavides:

In [10]:
### Código Solución 1

orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]    

resultado1_dbh =list(map(lambda n: (n[0], n[2]*n[3] if n[2]*n[3]>=100 else n[2]*n[3] +10 ), orders))

#### El resultado es:

In [11]:
resultado1_dbh

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

#### Solución propuesta Miguel Aguirre:

In [2]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

resultado1_ma = list(map(lambda x: (x[0], x[2] * x[3]) if x[2] * x[3] >= 100 
                         else (x[0], x[2] * x[3] + 10), orders))

#### El resultado es:

In [3]:
resultado1_ma

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

### Ejercicio 2.
La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: [número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)]
Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

#### Solución propuesta Miguel Aguirre:

In [62]:
### Código Solución 2

orders2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)],
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

cond = lambda x: x + 10 if (x <100) else x #Condicional
plus = lambda c,d : c + d # Suma 

i = list(zip(*orders2))[0]
t = list(map(lambda x: x[1:], orders2))
p = list(map(lambda c: reduce(plus, list(map(cond, list(map(lambda x: x[1]*x[2], c))))), t))

resultado2 = list(zip(i , p))

#### El resultado es:

In [63]:
resultado2

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

#### Solución propuesta por Daniela Benavides:

In [26]:
### Código Solución 2

orders2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)],
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

resultado2_dbh = list(map(lambda x: [x[0]] + list(map(lambda y: y[1]*y[2] if y[1]*y[2]>=100 else y[1]*y[2]+10, x[1:])), orders2))

resultado2_dbh = list(map(lambda x: [x[0]]+ \
                         [reduce(lambda a,b: a+b, x[1:])], resultado2_dbh))

#### El resultado es:

In [27]:
resultado2_dbh

[[1, 688.3299999999999],
 [2, 504.46000000000004],
 [3, 374.79999999999995],
 [4, 502.57]]

### Ejercicio 3.
Resolver los anteriores ejercicios usando pandas (DataFrame)

#### Solución EJERCICIO 1 propuesta por Daniela Benavides:

In [73]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]] 

costo_total = list(map(lambda n: (n[2]*n[3] if n[2]*n[3]>=100 else n[2]*n[3] +10),orders)) 
df1_dbh = pd.DataFrame(data=orders, columns=['Número de pedido','Nombre','Cantidad','Costo individual'])
df1_dbh['TOTAL']= costo_total

#### El resultado es:

In [74]:
df1_dbh.iloc[:,[0,4]]

  Número de pedido   TOTAL
0            34587  163.80
1            98762  284.00
2            77226  108.85
3            88112   84.97

#### Solución Ejercicio 3.1 propuesa por Miguel Aguirre:

In [54]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]] 

orders_1 = pd.DataFrame(orders)
orders_1['Final'] = orders_1.iloc[:,2] * orders_1.iloc[:,3]
orders_1 = orders_1.drop(orders_1.columns[[1]], axis = 'columns')
orders_1 = orders_1.drop(orders_1.columns[[1,2]], axis = 'columns')

orders_1['Final'] = list(map(lambda x: (x[0], x[2] * x[3]) if x[2] * x[3] >= 100 
                         else (x[0], x[2] * x[3] + 10), orders))

#### El resultado es:

In [55]:
orders_1.iloc[:,[1]]

                         Final
0               (34587, 163.8)
1               (98762, 284.0)
2  (77226, 108.85000000000001)
3               (88112, 84.97)

#### Solución EJERCICIO 2 propuesta por Daniela Benavides:

In [83]:
orders2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)],
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

costo_total2 = list(map(lambda x: list(map(lambda y: y[1]*y[2] if y[1]*y[2]>=100 else y[1]*y[2]+10, x[1:])), orders2))
costo_total2 =list(map(lambda x: reduce(lambda a,b: a+b, x[1:]), resultado2_dbh))
costo_total2
df2_dbh = pd.DataFrame(data=orders2, columns=['Número de pedido','Nombre','Cantidad','Costo individual'])
df2_dbh['TOTAL']= costo_total2

#### El resultado es:

In [84]:
df2_dbh.iloc[:,[0,4]]

   Número de pedido   TOTAL
0                 1  688.33
1                 2  504.46
2                 3  374.80
3                 4  502.57

#### Solución Ejercicio 3.2 propuesta Miguel Aguirre:

In [69]:
### Código Solución 3.2

orders2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)],
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

resultado3_2 = list(map(lambda x: list(map(lambda n: n[1] * n[2] if n[1] * n[2] >= 100 
                                           else n[1] * n[2] + 10, x[1:])), orders2))
resultado3_2 = list(map(lambda x: reduce(lambda a,b: a + b, x[1:]), resultado2))
orders_2 = pd.DataFrame(orders2)
orders_2['Final'] = resultado3_2
orders_2 = orders_2.drop(orders_2.columns[[1]], axis = 'columns')
orders_2 = orders_2.drop(orders_2.columns[[1]], axis = 'columns')
orders_2 = orders_2.drop(orders_2.columns[[1]], axis = 'columns')

#### El resultado es:

In [70]:
orders_2

   0   Final
0  1  688.33
1  2  504.46
2  3  374.80
3  4  502.57

### Ejercicio 4.
Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

#### Solución propuesta por Daniela Benavides:

In [15]:
### Código Solución 4

lista='the notion of a lambda function goes all the way back to the origin of computer science'
palabras= lista.split()
resultado4_dbh = list(filter(lambda x: len(x)>4, palabras))

#### El resultado es:

In [16]:
resultado4_dbh

['notion', 'lambda', 'function', 'origin', 'computer', 'science']

#### Solución propuesta Miguel Aguirre

In [43]:
oracion = 'list = the notion of a lambda function goes all the way back to the origin of computer science'
wrd = oracion.split()

cond = lambda x: len(x) > 4
resultado5_ma = list(filter(cond, wrd))

#### El resultado es:

In [44]:
resultado5_ma

['notion', 'lambda', 'function', 'origin', 'computer', 'science']

### Ejercicio 5.
Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

#### Solución propuesta por Daniela Benavides:

In [13]:
### Código Solución 5

import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
temperaturas = list(temperatures)
resultado5_dbh = list(filter(lambda x: 80>= x >= 32 , temperaturas))

#### El resultado es:

In [14]:
resultado5_dbh, len(resultado5_dbh)/len(temperaturas)*100

([35.97387961379455,
  63.211195349983264,
  73.90387696517755,
  36.982512376595906,
  68.75395211338406,
  45.86132066984196,
  36.58307493022292,
  56.322083650154724,
  33.9621930206693,
  45.29071317816652,
  74.86289938282341,
  66.51091382521807,
  46.831316244170544,
  44.55796498523391],
 46.666666666666664)

#### Solución propuesta por Miguel Aguirre:

In [33]:
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)

cond = lambda x: x if x >= 32 and x <= 80 else 0
resultado6_ma = list(filter(cond, temperatures))

#### El resultado es:

In [34]:
resultado6_ma

[35.97387961379455,
 63.211195349983264,
 73.90387696517755,
 36.982512376595906,
 68.75395211338406,
 45.86132066984196,
 36.58307493022292,
 56.322083650154724,
 33.9621930206693,
 45.29071317816652,
 74.86289938282341,
 66.51091382521807,
 46.831316244170544,
 44.55796498523391]

### Ejercicio 6.
Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

#### Solución propuesta por Miguel Aguirre:

In [16]:
### Código Solución 6

np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)

resultado6 = np.minimum.reduce(point_xy)

[[17 97]
 [22 33]
 [37 46]
 [57 28]
 [11 25]
 [14  2]
 [74 16]
 [12 37]
 [35 21]
 [66 65]
 [86 58]
 [67 81]
 [ 0 48]
 [28 66]
 [76 22]
 [46 47]
 [64  7]
 [88 94]
 [65 13]
 [75 89]
 [23 17]
 [36 63]
 [62 36]
 [64 17]
 [18 19]
 [88 41]
 [21 49]
 [98 36]
 [81 73]
 [62 90]]

#### El resultado es:

In [17]:
resultado6

array([0, 2])

#### Solución propuesta por Daniela Benavides:

In [8]:
### Código Solución 6

np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)

resultado6_dbh = np.minimum.reduce(point_xy)

[[17 97]
 [22 33]
 [37 46]
 [57 28]
 [11 25]
 [14  2]
 [74 16]
 [12 37]
 [35 21]
 [66 65]
 [86 58]
 [67 81]
 [ 0 48]
 [28 66]
 [76 22]
 [46 47]
 [64  7]
 [88 94]
 [65 13]
 [75 89]
 [23 17]
 [36 63]
 [62 36]
 [64 17]
 [18 19]
 [88 41]
 [21 49]
 [98 36]
 [81 73]
 [62 90]]

#### El resultado es:

In [9]:
resultado6_dbh

array([0, 2])