<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Benavides Daniela y Aguirre Miguel. 

**Fecha:** 07 de septiembre del 2020.

**Expediente** : if714983 y if722961.
**Profesor:** Oscar David Jaramillo Zuluaga.

# Tarea 2: Clase 4

In [3]:
#Librerías a utilizar

import pandas as pd
import numpy as np
from functools import reduce

- Link GitHub

https://github.com/miguelaguirre11/Tarea2

### Ejercicio 1. 
Imagine una rutina contable utilizada en una librería.
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

In [11]:
### Código Solución 1

orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]    

resultado1 =list(map(lambda n: [n[0], n[2]*n[3] if n[2]*n[3]>=100 else n[2]*n[3] +10 ], orders))

#### El resultado es:

In [12]:
resultado1

[['34587', 163.8],
 ['98762', 284.0],
 ['77226', 108.85000000000001],
 ['88112', 84.97]]

### Ejercicio 2.
La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: [número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)]
Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

In [4]:
### Código Solución 2

orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)],
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

resultado2 = list(reduce(lambda x,y: [ x[0], x[2] * x[3] if x[2] * x[3] >= 100
                                   else x[2] * x[3] + 10 ], orders))

TypeError: can't multiply sequence by non-int of type 'tuple'

#### El resultado es:

In [5]:
resultado2

NameError: name 'resultado2' is not defined

### Ejercicio 3.
Resolver los anteriores ejercicios usando pandas (DataFrame)

In [15]:
### Código Solución 3.1

df1 = pd.DataFrame(resultado1, columns=['Número de pedido','Costo'])

#### El resultado es:

In [16]:
df1

  Número de pedido   Costo
0            34587  163.80
1            98762  284.00
2            77226  108.85
3            88112   84.97

In [ ]:
### Código Solución 3.2

df2 = pd.DataFrame(resultado2, columns = ['Número de pedido' , 'Costo'])

#### El resultado es:

In [ ]:
df2

### Ejercicio 4.
Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

In [17]:
### Código Solución 4

lista='the notion of a lambda function goes all the way back to the origin of computer science'
palabras= lista.split()
resultado4 = list(filter(lambda x: len(x)>4, palabras))

#### El resultado es:

In [18]:
resultado4

['notion', 'lambda', 'function', 'origin', 'computer', 'science']

### Ejercicio 5.
Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [21]:
### Código Solución 5

import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
temperaturas = list(temperatures)
resultado5 = list(filter(lambda x: 80>= x >= 32 , temperaturas))

#### El resultado es:

In [22]:
resultado5, len(resultado5)/len(temperaturas)*100

([35.97387961379455,
  63.211195349983264,
  73.90387696517755,
  36.982512376595906,
  68.75395211338406,
  45.86132066984196,
  36.58307493022292,
  56.322083650154724,
  33.9621930206693,
  45.29071317816652,
  74.86289938282341,
  66.51091382521807,
  46.831316244170544,
  44.55796498523391],
 46.666666666666664)

### Ejercicio 6.
Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [8]:
### Código Solución 6

np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)

resultado6 = np.minimum.reduce(point_xy)

[[17 97]
 [22 33]
 [37 46]
 [57 28]
 [11 25]
 [14  2]
 [74 16]
 [12 37]
 [35 21]
 [66 65]
 [86 58]
 [67 81]
 [ 0 48]
 [28 66]
 [76 22]
 [46 47]
 [64  7]
 [88 94]
 [65 13]
 [75 89]
 [23 17]
 [36 63]
 [62 36]
 [64 17]
 [18 19]
 [88 41]
 [21 49]
 [98 36]
 [81 73]
 [62 90]]

#### El resultado es:

In [9]:
resultado6

array([0, 2])